body {
  background-color: grey;
}
     #Basketball-title {
            background-color: lightgray;
            font-size:50px;
            border: 7px solid;
            text-align: center;
           
            }
    #flying-angels{
                text-align: center;
                font-size:30px;
    }
               
             #about-us {
                background: rgb(100, 133, 176);
                float: right;
                width: 30%;
                margin-left:10px;
             }
#three_imgs{
 display: block;
  margin: 0 auto;
}
.image-small{
width: 500px;
}
.gold-frame{
boder: 4px solid gold;
}
#STEM-title {
            background-color: black;
            font-size:50px;
            border: 7px solid;
            text-align: center;

.topnav {
  background-color: black;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: white;
  color: black;
}


.topnav a.active {
  background-color: #blue;
  color: white;
}
        
