body {
  background-color: gray;
}
     #Basketball-title {
            background-color: lightgray;
            font-size:50px;
            border: 7px solid;
            text-align: center;
           
            }
    #flying-angels{
                text-align: center;
                font-size:30px;
    }
               .image-small {
                width: 278px;
                margin: auto;
                border: 6px solid rgb(153, 137, 47);
                margin-right: 10px;
                margin-bottom: 10px;
            } 
             #about-us {
                background: rgb(100, 133, 176);
                float: right;
                width: 30%;
                margin-left:10px;
            }
#3imgs{
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#STEM-title {
            background-color: lightgray;
            font-size:50px;
            border: 7px solid;
            text-align: center;

