body {
  background-color: grey;
}
     #Basketball-title {
            background-color: lightgray;
            font-size:50px;
            border: 7px solid;
            text-align: center;
           
            }
    #flying-angels{
                text-align: center;
                font-size:30px;
    }
               
             #about-us {
                background: rgb(100, 133, 176);
                float: right;
                width: 30%;
                margin-left:10px;
             }
#three_imgs{
 display: block;
  margin: 0 auto;
}
.image-small{
width: 500px;
}
.gold-frame{
boder: 4px solid gold;
}
#STEM-title {
            background-color: black;
            font-size:50px;
            border: 7px solid;
            text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: Black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: pink;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: blue;
  color: white;
}


//
.icon-bar {
  width: 90px; 
  background-color: darkgray
}

.icon-bar a {
  display: block; 
  text-align: center; 
  padding: 16px;
  transition: all 0.3s ease; 
  color: white; 
  font-size: 36px; 
}

.icon-bar a:hover {
  background-color: blue
}

.active {
  background-color: black
}
